name: job-pipeline

trigger: none

pool: 30janagent


jobs:
- job: terraforminstall
  displayName: job-1 terraform install
  steps: 
  - task: TerraformInstaller@1
    displayName: terraform installation
    inputs:
      terraformVersion: 'latest'

- job: terraforminit
  displayName: job-2 terraform init
  steps: 
  - task: TerraformTask@5
    displayName: terraform init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)/'
      backendServiceArm: '30jansvc'
      backendAzureRmResourceGroupName: 'Thirtyjan-rg'
      backendAzureRmStorageAccountName: '30janstorage'
      backendAzureRmContainerName: '30janconatiner'
      backendAzureRmKey: 'terraform.tfstate'
  - task: TerraformTask@5
    displayName: terraform plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: 'C:\Users\hp\Downloads\January-Revision_class\vsts-agent-win-x64-4.268.0\_work\1\s'
#C:\Users\hp\Downloads\January-Revision_class\vsts-agent-win-x64-4.268.0\_work\1\s
      environmentServiceNameAzureRM: '30jansvc'

  - task: TerraformTask@5
    displayName: terraform apply
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: '$(System.DefaultWorkingDirectory)/'
      commandOptions: '-auto-approve'
      environmentServiceNameAzureRM: '30jansvc'
